<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <div class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3 sidebar">
          <div class="block">
            <img class="face" src="/img/joe-castelli.png" alt="Joe Castelli" title="Me.">
            <p>I'm Joe. I make things for the internet, often using Drupal, WordPress and, most recently, Meteor.js.</p>
          </div>
          <div class="social">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="https://www.facebook.com/joe.castelli" title="Joe Castelli on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="https://twitter.com/joe_castelli" title="Joe Castelli on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="https://github.com/jcastelli" title="Joe Castelli on GitHub">
                <i class="fa fa-github"></i>
              </a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <a href="https://www.linkedin.com/in/josephdcastelli" title="Joe Castelli on LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
          <p class="all-posts"><a href="/all-posts">See all posts</a></p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Blog – Sidebar -->
          <ins class="adsbygoogle"
               style="display:inline-block;width:160px;height:600px"
               data-ad-client="ca-pub-6161242629827220"
               data-ad-slot="9856789991"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>